/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.content {
    margin-top: 52px;
}
#mileageForm {
    padding: 0 0 20px;
}

.main-icon {
  font-size: 104px;
  color: #2ECC71;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron {
  background: #34495E;
}
.jumbo-inner {
  float: none;
  color: #ECF0F1;
}

.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
  border-radius: 0;
}

@media (max-width: 767px) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
  }
  .footer {
    height: 80px;
  }
}
